#title {
  font-size: 40px;
  text-align: center;
  font-family: Cinzel;
}

h1 {
  text-align: center;
}

.tribute-info-wiki {
  text-align: center;
}

#image {
  width:100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-caption{
 font-size: 20px;
 text-align: center;
}

#Like-Mike {
  text-align: center;
  font-size: 50px;
}

.video {
  text-align: center;
  margin-bottom: 150px;
}

@media (max-width: 800px) {
  .video {
    width: 80vw;
  }
}

#desc {
 font-family: Cinzel;
}


